body {
    font-family: Helvetica, sans-serif;
    background-color: white;
}

.lyric {
  position: fixed;
  left: 0; right: 0;
  top: 36%;
  text-align: center;

  font-size: 69px;
}

.debug {
  position: fixed;
  font-size: 72px;
}

.footer {
  width: 100%;
  padding: 1em 0em;
  background-color: rgba(225, 225, 225, 1);
  color: #333;
  text-align: center;
  font-size: 100%;
}
   .footer a {
        color: rgba(60, 60, 240, 0.9);
        text-decoration: none;
    }
         .footer  a:hover, footer a:focus {
            color: rgba(90, 95, 255, 1.0);
        }
